{%extends 'base.html'%}
{% block content %}
    {%load static%}
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css'%}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css'%}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/templatemo-style.css'%}">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  
     
       
          <div class="tm-block tm-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">Account Settings</h2>
              <form action="editprofile2" method="post" enctype="multipart/form-data" class="tm-signup-form row">
                {% csrf_token %}
                <div class="form-group col-lg-3">
                  <div>
                    <img src="{{p.propic.url}}" alt="" style="height: 100px; width: 100px;">
                  </div>
                </div>

                <div class="form-group col-lg-3">
                  <label for="name">Name</label>
                  <input
                    id="name"
                    name="name"
                    type="text"
                    value="{{usr.first_name}}"
                    class="form-control validate"
                    style="background-color: #ff61d8; font-weight: bold;"
                  />
                </div>
                <div class="form-group col-lg-3">
                  <label for="email">Email</label>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="form-control validate"
                    value="{{usr.email}}"
                    style="background-color: #ff61d8; font-weight: bold"
                  />
                </div>
                
                
                <div class="form-group col-lg-3">
                  <label for="phone">Phone</label>
                  <input
                    id="phone"
                    name="mobile"
                    type="tel"
                    class="form-control validate"
                    value="{{usr.last_name}}"
                    style="background-color: #ff61d8; font-weight: bold"
                  />
                </div>
                
                <div class="form-group col-lg-12">
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-3">
                    <label class="tm-hide-sm">profile picture</label>
                    <input type="file" class="btn btn-primary btn-block text-uppercase" name="img" >                   
                  </div>
                  <div class="form-group col-lg-3">
                    <label class="tm-hide-sm">&nbsp;</label>
                    <button type="button" class="btn btn-primary confirm-btn" data-toggle="modal" data-target="#confirmationModal" data-item="{{ i.id }}">Delete Your Account</button>
                  </div>
                
                  <!-- Confirmation Modal -->
                 <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to proceed with item <span id="confirmationItem"></span>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <script> document.write("<p>" + clickedValue + "</p>")</script>
      <a href="deleteprofile" id="confirmLink" class="btn btn-primary">Confirm</a>
    </div>
    </div>
    </div>
    </div>
    
    <script>
    
    
    $(document).ready(function () {
    // Handle confirmation button click for each item
    $('.confirm-btn').click(function () {
    var item = $(this).data('item');
    $('#confirmationItem').text(item);
    $('#confirmLink').attr('href', '{% url "orders" %}?item=' + encodeURIComponent(item));
    });
    });
    </script>
                  <!-- <div class="form-group mb-3 col-xs-12 col-sm-9">
                    <label class="tm-hide-sm">&nbsp;</label>
                    <a class="btn btn-primary btn-block text-uppercase"href="deleteprofile">
                        DELETE YOUR ACCOUNT
                    </a>                    
                  </div> -->
              </div>
              </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block text-uppercase">UPDATE NOW</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <script src="{% static 'admin/js/jquery-3.3.1.min.js'%}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/bootstrap.min.js'%}"></script>
    <!-- https://getbootstrap.com/ -->
  
    {% endblock %}