{%extends 'base.html'%}
{% block content %}
{%load static%}

  <!-- glass section -->

  <section class="glass_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span> Our </span> Glasses
        </h2>
      </div>
      
      <div class="glass_container">
        {% for i in obj %}
        <div class="box">
          <div class="img-box">
            {% if request.session.id %}
            <a href="prodet/{{i.id}}"><img src="{{i.image.url}}" alt=""></a>
            {% else %}
            <a href="{% url 'login'%}"><img src="{{i.image.url}}" alt=""></a>
            {% endif %}

          </div>
          <div class="price">
            <h3>
              {{i.name}}
            </h3>
            <h5>
              {{i.model}}
            </h5>
            <h6>
              <p style="color: greenyellow;"></p><del style="color: red;">₹{{i.price}}</del><br>₹{{i.discount}} off</p></h6>
            {% if request.session.id %}
            {% for j in request.session.id %}
            {% if i.id in ca %}

            <a href="{% url 'cart' %}"><input type="submit" value="Go to cart"></a>
            {% else %}

            <form action="prodet/addcart/{{i.id}}" method="post">
              {% csrf_token %}
              <input type="hidden" id="hi" name="hi" value="1">
            <input type="submit" value="add to cart">
          </form>
          {% endif %}

               {% endfor %}
          {% else %}
          <a href="{% url 'cart' %}">Add To Cart</a>
          {% endif %}
          </div>
        </div>
      
      {% endfor %}
    </div>
      <div class="btn-box">
        <a href="">
          See More
        </a>
      </div>
    </div>
  </section>

  <!-- end glass section -->

  {% endblock %}